doctype html
html
  head
    title Boilerplate project to create fullREST API
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
  body
    nav.nav
      div.nav-left
        span.nav-item
          span.icon
            i.fa.fa-code
          span.title &nbsp;trilobita-js
      div.nav-center
        a.nav-item
          span.icon
            i.fa.fa-gitlab
        a.nav-item
          span.icon
            i.fa.fa-github
      div.nav-right
        span.nav-item
          a.button.is-success(href='/trilobita-admin')
            span.icon
              i.fa.fa-database
            span Mongo Express
        span.nav-item
          a.button.is-info(href='/apidoc')
            span.icon
              i.fa.fa-book
            span Documentatin (API)

  block content
  footer
    div.conteiner
        div.content.has-text-centered
          p
            strong Trilobita-JS
            span  by
            span
              a(href='https://github.com/neuromantic-js')  Dmitry Shevelev.
          p
            span  The source code is licensed
            span
              a(href='http://opensource.org/licenses/mit-license.php')  MIT.
