extends layout-bulma

block content
  section.section
    div.container
      div.columns
        div.column.is-half.is-offset-one-quarter
          img(src='/images/trilobita.jpg')
      div.heading
        h1.title Welcome to Trilobita-JS
        h2.subtitle Trilobite - a template of the project for the development of complete REST API services
  div.columns
    div.column
      h1.title.is-1 Features
  div.columns
    div.column
      div.box
        img(src='/images/pug.png')
        br
        span Project use best template engine for NodeJS/JavaScript - PUG (early Jade)
        br
        a.button.is-link(href='https://pugjs.org/api/getting-started.html') Official site
    div.column
      div.box
        img(src='/images/bulma.png')
        span Project use CDN Bulma CSS. Bulma CSS is it  modern CSS framework based on Flexbox.
        br
        span The peculiarity of this framework is that it provides the minimum number of necessary components and capabilities sufficient to implement adaptive design
        br
        br
        a.button.is-link(href='http://bulma.io/') Official site
    div.column
      div.box
        img(src='/images/nodejs.png')
        br
        span Project user NodeJS as backand VM
        br
        a.button.is-link(href='https://nodejs.org/en/') Official site
    div.column
      div.box
        img(src='/images/express.png')
        br
        span As the framework for the backend, Express is used, which is the most developed and flexible.
        br
        span The use of this framework is justified by the balance between flexibility and the availability of ready-made solutions, as well as the speed of work.
        br
        a.button.is-link(href='http://expressjs.com/ru/') Official site
  div.columns
    div.column
      div.box
        img(src='/images/mongo.png')
        br
        span MongoDB is used as a database for storing information.
        br
        strong Main feature this database:
        span  expressive query language & secondary indexes, strong consistency, exnterprise managment & integratin, flexibility, scalability & perfomance.
        br
        a.button.is-link(href='https://www.mongodb.com/') Official site
    div.column
      div.box
        img(src='/images/mongoosejs.png')
        br
        span To work with the database, one of the best ODM is used.
        br
        span This library is the de facto standard for programmers on NodeJS.
        br
        br
        a.button.is-link(href='http://mongoosejs.com/') Official sote
    div.column
      div.box
        img(src='/images/es.jpg')
        br
        span Using modern standart EcmaScript with NodeJS native support
        br
        a.button.is-link(href='https://learn.javascript.ru/') Russian documentation
    div.column
      div.box
        img(src='/images/json-api.png')
        br
        span The server responses are generated according to the standards of the JSON-api
        br
        a.button.is-link(href='http://jsonapi.org/') Official site
